main{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    grid-gap: 20px;
}
.paragraph1{
    height: 100%;
    grid-column: 1/2;
}
.paragraph2{
    height: 100%;
    grid-column: 2/3;
}
.paragraph3{
    height: 100%;
    grid-column: 3/4;
}