body{
  font-size: 16px;
  background-color: white;
  }
header,
main,
footer{
max-width: 760px;
margin: 0 auto;
font-family: 'Poppins', sans-serif;;
}
header,
footer{
border: 1px solid #bbb;
padding: 1rem;
background-color: peru;
}
header img {
  float:right;
  height: 400px;
}